In [88]:
###########################################################################################################

In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset("tips")

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df=df.replace(to_replace="Male",value=0)
df=df.replace(to_replace="Female",value=1)

In [5]:
df["smoker"]=df["smoker"].replace(to_replace="Yes",value=1)
df["smoker"]=df["smoker"].replace(to_replace="No",value=0)

In [6]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [7]:
df

     total_bill   tip sex smoker   day    time  size
0         16.99  1.01   1      0   Sun  Dinner     2
1         10.34  1.66   0      0   Sun  Dinner     3
2         21.01  3.50   0      0   Sun  Dinner     3
3         23.68  3.31   0      0   Sun  Dinner     2
4         24.59  3.61   1      0   Sun  Dinner     4
..          ...   ...  ..    ...   ...     ...   ...
239       29.03  5.92   0      0   Sat  Dinner     3
240       27.18  2.00   1      1   Sat  Dinner     2
241       22.67  2.00   0      1   Sat  Dinner     2
242       17.82  1.75   0      0   Sat  Dinner     2
243       18.78  3.00   1      0  Thur  Dinner     2

[244 rows x 7 columns]

In [10]:
df.time.values

['Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', ..., 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner']
Length: 244
Categories (2, object): ['Lunch', 'Dinner']

In [11]:
df["time"]=df["time"].replace(to_replace=["Lunch","Dinner"],value=[0,1])

In [12]:
df

     total_bill   tip sex smoker   day  time  size
0         16.99  1.01   1      0   Sun     1     2
1         10.34  1.66   0      0   Sun     1     3
2         21.01  3.50   0      0   Sun     1     3
3         23.68  3.31   0      0   Sun     1     2
4         24.59  3.61   1      0   Sun     1     4
..          ...   ...  ..    ...   ...   ...   ...
239       29.03  5.92   0      0   Sat     1     3
240       27.18  2.00   1      1   Sat     1     2
241       22.67  2.00   0      1   Sat     1     2
242       17.82  1.75   0      0   Sat     1     2
243       18.78  3.00   1      0  Thur     1     2

[244 rows x 7 columns]

In [13]:
df.day.values

['Sun', 'Sun', 'Sun', 'Sun', 'Sun', ..., 'Sat', 'Sat', 'Sat', 'Sat', 'Thur']
Length: 244
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [14]:
df["day"]=df["day"].replace(to_replace=["Thur","Fri","Sat","Sun"],value=[4,5,6,7])

In [15]:
df

     total_bill   tip sex smoker  day  time  size
0         16.99  1.01   1      0    7     1     2
1         10.34  1.66   0      0    7     1     3
2         21.01  3.50   0      0    7     1     3
3         23.68  3.31   0      0    7     1     2
4         24.59  3.61   1      0    7     1     4
..          ...   ...  ..    ...  ...   ...   ...
239       29.03  5.92   0      0    6     1     3
240       27.18  2.00   1      1    6     1     2
241       22.67  2.00   0      1    6     1     2
242       17.82  1.75   0      0    6     1     2
243       18.78  3.00   1      0    4     1     2

[244 rows x 7 columns]

In [18]:
df2=df.copy()

In [70]:
A=df2.drop(["total_bill"],axis=1)

In [71]:
A.head()

    tip sex smoker  day  time  size
0  1.01   1      0    7     1     2
1  1.66   0      0    7     1     3
2  3.50   0      0    7     1     3
3  3.31   0      0    7     1     2
4  3.61   1      0    7     1     4

In [72]:
b=df2["total_bill"]

In [82]:
A_train,A_test,b_train,b_test=train_test_split(A,b,test_size=0.20,random_state=42)

In [74]:
A_train.shape

(195, 6)

In [75]:
b_train.shape

(195,)

In [76]:
knn_model=KNeighborsRegressor()

In [80]:
model=knn_model.fit(A_train,b_train)

In [83]:
b_predict=model.predict(A_test)

In [86]:
import numpy as np

In [87]:
np.sqrt(mean_squared_error(b_test,b_predict))

6.657590168908181

In [89]:
np.sqrt(mean_squared_error(b_train,model.predict(A_train)))

5.116737830959217

In [94]:
for k in range(0,50):
    k=k+1
    knn_model=KNeighborsRegressor(n_neighbors=k,n_jobs=-1)
    model=knn_model.fit(A_train,b_train)
    b_predict=model.predict(A_train)
    error=np.sqrt(mean_squared_error(b_train,b_predict))
    
    print(error)

1.5077995513925206
4.131715822878631
4.69713536389794
4.976897386540519
5.116737830959217
5.208004010101257
5.417158194017022
5.472577070418165
5.687580824175509
5.786131366000549
5.806366127948027
5.876868290860333
5.855551035081363
5.909208450659344
6.0033506881491006
6.018396131295206
6.027970713271618
6.044188275821679
6.06576517347248
6.0743503309892946
6.101526078074512
6.144866371109819
6.141005728594874
6.168806072710803
6.184785198566742
6.209128878695956
6.22101477532913
6.226971384519635
6.249607911747809
6.2897745807718
6.300934946085573
6.32091893611325
6.38178443672542
6.419170092443138
6.437943550481292
6.457900807683589
6.49394679267947
6.503615210521018
6.53760169687619
6.563175357288027
6.593634835283709
6.597371922015602
6.616873110566664
6.615378502633106
6.646212408225104
6.671869562834491
6.693806581417681
6.705896312077536
6.713406097993843
6.742235288335914

In [93]:
from sklearn.model_selection import GridSearchCV

In [95]:
knn_values={"n_neighbors":np.arange(1,50)}

In [96]:
knn=KNeighborsRegressor()

In [97]:
knn_cv=GridSearchCV(knn,knn_values,cv=15)

In [98]:
knn_cv

GridSearchCV(cv=15, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])})

In [99]:
knn_cv.fit(A_train,b_train)

GridSearchCV(cv=15, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])})

In [100]:
knn_cv.best_params_

{'n_neighbors': 26}

In [101]:
#Final Stage

In [104]:
knn=KNeighborsRegressor(n_neighbors=26)

In [105]:
knn_model=knn.fit(A_train,b_train)

In [109]:
b_predict=knn_model.predict(A_train)

In [125]:
np.sqrt(mean_squared_error(b_train,b_predict))

6.209128878695956

In [127]:
np.sqrt(-cross_val_score(knn_model,A_train,b_train,cv=10,scoring="neg_mean_squared_error").mean()) #validasyon sonrasÄ± deÄŸer

6.534393772016426