In [20]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("Advertising.csv",usecols=[1,2,3,4])

In [7]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [11]:
X=df.drop("Sales",axis=1)  #bağımsız değişkenler

In [10]:
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [58]:
y=df[["Sales"]]   #bağımlı değişken

In [59]:
y.head()

   Sales
0   22.1
1   10.4
2    9.3
3   18.5
4   12.9

In [17]:
from sklearn.model_selection import train_test_split,cross_val_score,cross_val_predict,GridSearchCV
from sklearn.metrics import mean_squared_error,r2_score
import sklearn
from sklearn.neighbors import KNeighborsRegressor

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [43]:
knn_model=KNeighborsRegressor()

In [44]:
knn_model

KNeighborsRegressor()

In [46]:
model=knn_model.fit(X_train,y_train)

In [47]:
model

KNeighborsRegressor()

In [50]:
y_predict=model.predict(X_test)

In [51]:
y_predict

array([[16.92],
       [20.98],
       [23.42],
       [ 7.38],
       [19.72],
       [14.3 ],
       [22.12],
       [ 9.12],
       [12.38],
       [16.18],
       [ 9.26],
       [ 9.64],
       [15.82],
       [ 5.98],
       [10.96],
       [13.62],
       [ 7.14],
       [15.8 ],
       [10.92],
       [20.  ],
       [18.28],
       [12.44],
       [ 9.76],
       [24.32],
       [ 9.74],
       [ 9.  ],
       [21.52],
       [12.3 ],
       [10.42],
       [ 5.98],
       [12.58],
       [10.6 ],
       [20.52],
       [ 8.62],
       [13.78],
       [20.78],
       [10.36],
       [25.14],
       [12.12],
       [ 6.94]])

In [55]:
np.sqrt(mean_squared_error(y_test,y_predict))

1.679624958137977

In [57]:
np.sqrt(mean_squared_error(y_train,model.predict(X_train)))

1.1827901335401814

In [60]:
for k in range(100):
    k=k+1
    k_model=KNeighborsRegressor(n_neighbors=k)
    k_model.fit(X_train,y_train)
    y_pred=k_model.predict(X_train)
    hata=np.sqrt(mean_squared_error(y_train,y_pred))
    
    print("k değeri",k,"hata",hata)

k değeri 1 hata 0.0
k değeri 2 hata 0.7444796840747234
k değeri 3 hata 1.0000624980469972
k değeri 4 hata 1.1266498319131815
k değeri 5 hata 1.1827901335401814
k değeri 6 hata 1.2513867307910855
k değeri 7 hata 1.2911917055217494
k değeri 8 hata 1.3819366929919403
k değeri 9 hata 1.4669415251711995
k değeri 10 hata 1.5536326383672556
k değeri 11 hata 1.644533896135069
k değeri 12 hata 1.737711442969683
k değeri 13 hata 1.7875847726825789
k değeri 14 hata 1.8606560177331357
k değeri 15 hata 1.9144717867396799
k değeri 16 hata 1.9826774234920312
k değeri 17 hata 2.0435015999326587
k değeri 18 hata 2.067108207760927
k değeri 19 hata 2.108519192607828
k değeri 20 hata 2.1636187135214002
k değeri 21 hata 2.223391893842703
k değeri 22 hata 2.2744015707797267
k değeri 23 hata 2.33823589853596
k değeri 24 hata 2.384911336576967
k değeri 25 hata 2.4297745780215907
k değeri 26 hata 2.477305497831424
k değeri 27 hata 2.5047017344313973
k değeri 28 hata 2.516481925603233
k değeri 29 hata 2.563554965402945
k değeri 30 hata 2.5971409627811033
k değeri 31 hata 2.621791657099437
k değeri 32 hata 2.672492732866932
k değeri 33 hata 2.7017109223071034
k değeri 34 hata 2.73522000413509
k değeri 35 hata 2.7633358002417947
k değeri 36 hata 2.78786274317236
k değeri 37 hata 2.8181862127880883
k değeri 38 hata 2.841254997387608
k değeri 39 hata 2.8626052960889634
k değeri 40 hata 2.882848045173817
k değeri 41 hata 2.9136898153842052
k değeri 42 hata 2.9391914124971605
k değeri 43 hata 2.964627826844986
k değeri 44 hata 2.984614992405647
k değeri 45 hata 3.0075775032859258
k değeri 46 hata 3.039471212117515
k değeri 47 hata 3.062848958324911
k değeri 48 hata 3.085728403605212
k değeri 49 hata 3.0982857575711953
k değeri 50 hata 3.1122318318210165
k değeri 51 hata 3.1304030300468852
k değeri 52 hata 3.1493052367914816
k değeri 53 hata 3.1696873887778634
k değeri 54 hata 3.1872004317391447
k değeri 55 hata 3.204898813528857
k değeri 56 hata 3.223663836378491
k değeri 57 hata 3.2444277229760052
k değeri 58 hata 3.262740345974485
k değeri 59 hata 3.279640208185201
k değeri 60 hata 3.290339091462391
k değeri 61 hata 3.305601388172797
k değeri 62 hata 3.316351468256065
k değeri 63 hata 3.3358451042934756
k değeri 64 hata 3.3479115663468626
k değeri 65 hata 3.364269059063967
k değeri 66 hata 3.3802595292658877
k değeri 67 hata 3.3932840683048013
k değeri 68 hata 3.407821849320201
k değeri 69 hata 3.415237671259019
k değeri 70 hata 3.422631338694287
k değeri 71 hata 3.42887159060299
k değeri 72 hata 3.4448600552210924
k değeri 73 hata 3.458228231470309
k değeri 74 hata 3.4776528241688003
k değeri 75 hata 3.489084337059096
k değeri 76 hata 3.5093778867867744
k değeri 77 hata 3.5259851803176754
k değeri 78 hata 3.536813185894401
k değeri 79 hata 3.54041408113329
k değeri 80 hata 3.5548640821525264
k değeri 81 hata 3.5660648828992723
k değeri 82 hata 3.5810339671482763
k değeri 83 hata 3.598371691778971
k değeri 84 hata 3.6089121184033903
k değeri 85 hata 3.6197860940644007
k değeri 86 hata 3.625991666777036
k değeri 87 hata 3.640129802338134
k değeri 88 hata 3.657130422402132
k değeri 89 hata 3.669997599119203
k değeri 90 hata 3.6813639038950274
k değeri 91 hata 3.6926783341083653
k değeri 92 hata 3.7064259608067003
k değeri 93 hata 3.7250773309445453
k değeri 94 hata 3.7482065973416963
k değeri 95 hata 3.7597940974373385
k değeri 96 hata 3.7748405327423504
k değeri 97 hata 3.787769246271941
k değeri 98 hata 3.803272570178977
k değeri 99 hata 3.821865471944862
k değeri 100 hata 3.8372832935554815

In [82]:
knn=KNeighborsRegressor()
knn_neighbors={"n_neighbors":np.arange(1,101,1)}

In [83]:
knn_cv_model=GridSearchCV(knn,knn_neighbors,cv=10)

In [85]:
knn_cv_model.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])})

In [87]:
knn_cv_model.best_params_

{'n_neighbors': 5}

In [88]:
###########################################################################################################

In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset("tips")

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df=df.replace(to_replace="Male",value=0)
df=df.replace(to_replace="Female",value=1)

In [5]:
df["smoker"]=df["smoker"].replace(to_replace="Yes",value=1)
df["smoker"]=df["smoker"].replace(to_replace="No",value=0)

In [6]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [7]:
df

     total_bill   tip sex smoker   day    time  size
0         16.99  1.01   1      0   Sun  Dinner     2
1         10.34  1.66   0      0   Sun  Dinner     3
2         21.01  3.50   0      0   Sun  Dinner     3
3         23.68  3.31   0      0   Sun  Dinner     2
4         24.59  3.61   1      0   Sun  Dinner     4
..          ...   ...  ..    ...   ...     ...   ...
239       29.03  5.92   0      0   Sat  Dinner     3
240       27.18  2.00   1      1   Sat  Dinner     2
241       22.67  2.00   0      1   Sat  Dinner     2
242       17.82  1.75   0      0   Sat  Dinner     2
243       18.78  3.00   1      0  Thur  Dinner     2

[244 rows x 7 columns]

In [10]:
df.time.values

['Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner', ..., 'Dinner', 'Dinner', 'Dinner', 'Dinner', 'Dinner']
Length: 244
Categories (2, object): ['Lunch', 'Dinner']

In [11]:
df["time"]=df["time"].replace(to_replace=["Lunch","Dinner"],value=[0,1])

In [12]:
df

     total_bill   tip sex smoker   day  time  size
0         16.99  1.01   1      0   Sun     1     2
1         10.34  1.66   0      0   Sun     1     3
2         21.01  3.50   0      0   Sun     1     3
3         23.68  3.31   0      0   Sun     1     2
4         24.59  3.61   1      0   Sun     1     4
..          ...   ...  ..    ...   ...   ...   ...
239       29.03  5.92   0      0   Sat     1     3
240       27.18  2.00   1      1   Sat     1     2
241       22.67  2.00   0      1   Sat     1     2
242       17.82  1.75   0      0   Sat     1     2
243       18.78  3.00   1      0  Thur     1     2

[244 rows x 7 columns]

In [13]:
df.day.values

['Sun', 'Sun', 'Sun', 'Sun', 'Sun', ..., 'Sat', 'Sat', 'Sat', 'Sat', 'Thur']
Length: 244
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [14]:
df["day"]=df["day"].replace(to_replace=["Thur","Fri","Sat","Sun"],value=[4,5,6,7])

In [15]:
df

     total_bill   tip sex smoker  day  time  size
0         16.99  1.01   1      0    7     1     2
1         10.34  1.66   0      0    7     1     3
2         21.01  3.50   0      0    7     1     3
3         23.68  3.31   0      0    7     1     2
4         24.59  3.61   1      0    7     1     4
..          ...   ...  ..    ...  ...   ...   ...
239       29.03  5.92   0      0    6     1     3
240       27.18  2.00   1      1    6     1     2
241       22.67  2.00   0      1    6     1     2
242       17.82  1.75   0      0    6     1     2
243       18.78  3.00   1      0    4     1     2

[244 rows x 7 columns]

In [18]:
df2=df.copy()

In [70]:
A=df2.drop(["total_bill"],axis=1)

In [71]:
A.head()

    tip sex smoker  day  time  size
0  1.01   1      0    7     1     2
1  1.66   0      0    7     1     3
2  3.50   0      0    7     1     3
3  3.31   0      0    7     1     2
4  3.61   1      0    7     1     4

In [72]:
b=df2["total_bill"]

In [82]:
A_train,A_test,b_train,b_test=train_test_split(A,b,test_size=0.20,random_state=42)

In [74]:
A_train.shape

(195, 6)

In [75]:
b_train.shape

(195,)

In [76]:
knn_model=KNeighborsRegressor()

In [80]:
model=knn_model.fit(A_train,b_train)

In [83]:
b_predict=model.predict(A_test)

In [86]:
import numpy as np

In [87]:
np.sqrt(mean_squared_error(b_test,b_predict))

6.657590168908181

In [89]:
np.sqrt(mean_squared_error(b_train,model.predict(A_train)))

5.116737830959217

In [94]:
for k in range(0,50):
    k=k+1
    knn_model=KNeighborsRegressor(n_neighbors=k,n_jobs=-1)
    model=knn_model.fit(A_train,b_train)
    b_predict=model.predict(A_train)
    error=np.sqrt(mean_squared_error(b_train,b_predict))
    
    print(error)

1.5077995513925206
4.131715822878631
4.69713536389794
4.976897386540519
5.116737830959217
5.208004010101257
5.417158194017022
5.472577070418165
5.687580824175509
5.786131366000549
5.806366127948027
5.876868290860333
5.855551035081363
5.909208450659344
6.0033506881491006
6.018396131295206
6.027970713271618
6.044188275821679
6.06576517347248
6.0743503309892946
6.101526078074512
6.144866371109819
6.141005728594874
6.168806072710803
6.184785198566742
6.209128878695956
6.22101477532913
6.226971384519635
6.249607911747809
6.2897745807718
6.300934946085573
6.32091893611325
6.38178443672542
6.419170092443138
6.437943550481292
6.457900807683589
6.49394679267947
6.503615210521018
6.53760169687619
6.563175357288027
6.593634835283709
6.597371922015602
6.616873110566664
6.615378502633106
6.646212408225104
6.671869562834491
6.693806581417681
6.705896312077536
6.713406097993843
6.742235288335914

In [93]:
from sklearn.model_selection import GridSearchCV

In [95]:
knn_values={"n_neighbors":np.arange(1,50)}

In [96]:
knn=KNeighborsRegressor()

In [97]:
knn_cv=GridSearchCV(knn,knn_values,cv=15)

In [98]:
knn_cv

GridSearchCV(cv=15, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])})

In [99]:
knn_cv.fit(A_train,b_train)

GridSearchCV(cv=15, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])})

In [100]:
knn_cv.best_params_

{'n_neighbors': 26}

In [101]:
#Final Stage

In [104]:
knn=KNeighborsRegressor(n_neighbors=26)

In [105]:
knn_model=knn.fit(A_train,b_train)

In [109]:
b_predict=knn_model.predict(A_train)

In [125]:
np.sqrt(mean_squared_error(b_train,b_predict))

6.209128878695956

In [127]:
np.sqrt(-cross_val_score(knn_model,A_train,b_train,cv=10,scoring="neg_mean_squared_error").mean()) #validasyon sonrası değer

6.534393772016426